{% extends "base.html" %}
{% block title %}Ingredients{% endblock %}
{% block content %}
    <h1>Ingredients</h1>

    <p>
      <a href="/ingredients/new" class="add-link">➕ Add ingredient</a>
    </p>

    <section class="ingredients-column">
      <ul class="list-links ingredients-scroll-list">
        {% for ingredient in ingredients %}
        <li>
          <a href="/ingredients/{{ ingredient[0] }}" class="list-link">
            {{ ingredient[1] }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>

    <a href="/" class="nav-link-small">Back</a>
{% endblock %}
